.todo-container {
  width: 600px;
  margin: 0 auto;
  padding-top: 200px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #333;
}

li:hover {
  background-color: #eaeaea;
}

input[type="text"] {
  height: 30px;
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  height: 40px;
  padding: 10px;
  background-color: #9bd9ed;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #407bea;
}

